
.game-description-container {
  width: 400px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 64px;

  .game-description-rules {
    font-size: 16px;
  }

}
